<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-12">
          Exam7 : สร้าง array ตามนี้ const ages = [11, 34, 8, 9, 23, 51, 17, 40, 14];
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-3">a. ให้แสดงค่าที่มากกว่า 18</div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-5 mb-2">
          ผลลัพธ์ a : <span class="text-danger">{{resultA}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-3">
          b. ให้แสดงค่าเฉพาะเลข 51 เท่านั้น
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 ml-5">
          ผลลัพธ์ b : <span class="text-danger">{{resultB}}</span>
        </div>
      </div>
    </div>
  </div>
</div>