<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 text-right p-0 mt-4">วันที่งานเสร็จ : </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4"></div>

      </div>
      <div class="row p-2">
        <div class="col-md-4"></div>
        <div class="col-md-4 d-flex justify-content-center">
          <button class="btn btn-primary" style="width: 100px; background: #41A4F5;"
            (click)="getEndDate(endDate)">บันทึก</button>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>